@charset "utf-8";

body {
  color: #2B2B2B;
  font-size: 20px;
  font-family: "Hiragino Mincho ProN", serif;
}

a {
  text-decoration: none;
}

li {
  list-style :none;
}

.top {
  padding: 50px 100px;
  width: 100%;
}

.bg-tp {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.contents {
  padding: 90px 200px 0 200px;
}

.content {
  padding-bottom:90px;
}

/* 共通 */

header {
  height:600px;
  width: 100%;
  background-image: url("../image/shop.jpg");
  background-size: cover;
  background-color: #182043;
}

.bg-tp {
  height: 100%;
  background:rgba(24, 32, 67, 0.8);
}

header h1 {
  font-size: 40px;
  color:white;
  line-height: 75px;
  font-family: serif;
  opacity: 0.9;
  border-bottom: 2px solid white;
  padding-top: 80px;
}

header img {
  max-width: 400px;
}

header ul {
  padding-top: 55px;
}

header li {
  text-align: right;
  display: block;
  padding-bottom: 25px;
}

header li a {
  padding: 15px;
  color: white;
  font-size: 25px;
  opacity: 0.8;
  font-weight: bold;
  transition: 0.5s all;
}

header li a:hover {
  background-color: rgb(255, 255, 255, 0.8);
  color: #0A1C3D;
}

/* header */

.contents {
  background-color:#EFEFEF;
}

.contents h3 {
  display: inline-block;
  font-size: 28px;
  border-bottom: 2px solid #2B2B2B;
  padding: 0 200px 10px 0; 
  margin-bottom: 40px;
}

.content img {
  display: block;
  width: 450px;
  margin-bottom:20px;
}

/* content */

.acsess {
  background-color:rgb(10, 28, 61);
  display: flex;
  padding:60px 200px;
}

.acsess p{
  color: white;
  line-height: 40px;
  text-align: right;
  padding: 70px 50px 20px 0;
}

/* END acsess */

footer p {
  text-align: right;
  padding: 10px 200px 10px 0;
  font-size: 10px;
}

/* footer */

/* レスポンシブデザイン */

@media screen and (max-width: 1000px) { 

  body {
    font-size: 10px;
  }

  header {
    height: 50px;
    background-image: none;
    padding: 0 5px;
    margin-bottom: 90px;
  }

  header h1 {
    padding: 10px 10px;
    font-size: 18px;
    border-bottom: 1px solid white;
    line-height: 30px;
    color: #182043;
  }
  
  header img {
    margin-top: 20px;
    width: 120px;
  }

  header ul {
    display: flex;
    padding-top: 0; 
  }
  
  header li {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0; 
  }
  
  header li a {
    padding: 15px 5px;
    font-size: 12px;
    line-height: 50px;
  }

  .top {
    padding: 0;
  }

  /* header */

  .contents {
    padding: 20px 20px 0 20px;
  }

  .content {
    padding-bottom:30px;
  }

  .content img {
    display: block;
    width: 200px;
    margin-bottom:10px;
  }

  .content h3 {
    font-size: 13px;
    border-bottom: 1px solid #2B2B2B;
    margin-bottom: 10px;
  }

  /* contents */

  .acsess {
    background-color:rgb(10, 28, 61);
    flex-direction: column;
    padding: 10px 5px;
  }
  
  .acsess p{
    padding: 5px 10px;
    text-align: center;
    line-height: 15px;
  }

  .acsess iframe {
    width: 150px;
    height: 150px;
    margin: 10px auto;
  }
  
  /* acsess */

  footer p {
    padding: 10px 10px;
    font-size: 8px;
  }

  /* footer */
}